#H{

    font-size: 60px;
    text-align: center;
    color:navy;
}
body {
    margin:0;
    padding:0;
    background-image: url("snowy.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
#SecFirst{
    margin:auto;
    background-color:transparent;
    font-size: 24px;
    text-align:left;
    color: deepskyblue;
    float: left;
    padding-left: 50px;
}
#Gposts{
    margin: auto;
    padding-left: 100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
#SecSecond{
    display: flex;
    margin:auto;
    font-size: 24px;
    text-align:center;
    color:#66c2ff;
    justify-content: flex-start;
    padding-left: 100px;

}

#signup{
    margin:auto;
    float:right;
    border:none;
    font-size: 3em;
    padding: 15px;
    text-align: center;
    background-color: transparent;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#signup:hover{
    background-color: green;
    color:red;
}
#signin{
    margin:auto;
    background-color: transparent;
    border: none;
    float:right;
    font-size: 3em;
    padding: 15px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#signin:hover{
    background-color: green;
    color:red;
}
